<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mainStyle.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Naina made a thing</title>
  </head>
  
  <body>
    
      {{{body}}}

  </body>

</html>