<div class="header">
    <a href="/home"><img class="logo" src="../img/star.png"/></a>

	<form action='/search' method="POST">
		<input type="text" name="searchBar" placeholder="search">
		<button>&#x2605;</button>
	</form>
	<a class="linkz newPostLink" href='/articles/new'>New post</a>
	<a class="linkz goback" href='/home'>View all posts</a>
	<a class="linkz one" href='/account'>My posts</a>
	<a class="linkz two" href='/logout'>Log out</a>
</div>

<div class='newPostForm'>

	<form action='/articles' method="POST">
		<input type="text" name="title" placeholder="title"><br>
		
		<select required class='optionMenu'>
		  <option value="">Select a category</option>
		  <option value="home">home</option>
		  <option value="family">family</option>
		  <option value="social">social</option>
		  <option value="school">school</option>
	 	  <option value="work">work</option>
		</select>

		<textarea class="bigBox" name="content" placeholder="content" style="width: 500px; height: 350px;"></textarea>

		<button>Post</button><br>
	</form>

</div>


