<div class="header">
    <a href="/home"><img class="logo" src="../img/star.png"/></a>

	<form action='/search' method="POST">
		<input type="text" name="searchBar" placeholder="search">
		<button>&#x2605;</button>
	</form>
	<a class="linkz newPostLink" href='/articles/new'>New post</a>
	<a class="linkz goback" href='/home'>View all posts</a>
	<a class="linkz one" href='/account'>My posts</a>
	<a class="linkz two" href='/logout'>Log out</a>
</div>

<div class="bigView">
	<h3>{{articles.title}}</h3>
	<p class="content">{{articles.content}}</p>
	<a href='/articles/edit/{{id}}'><button>Edit</button></a>
</div>

