<div class="header">
      <a href="/home"><img class="logo" src="../img/star.png"/></a>

      <form action='/search' method="POST">
        <input type="text" name="searchBar" placeholder="search">
        <button>&#x2605;</button>
      </form>

      <a class="linkz one" href='/account'>My account</a>
      <a class="linkz two" href='/logout'>Log out</a>
      
</div>