<h2 class='logintitle'>Sign In</h2>

<div class='loginform'>

	<form action='/login' method="POST">
		<input type="text" name="email" placeholder="email"><br>
		<input type="text" name="password" placeholder="password"><br>
		<button>Log in</button><br>
	</form>

</div>
