<div class="header">
    <a href="/home"><img class="logo" src="../img/star.png"/></a>

	<form action='/search' method="POST">
		<input type="text" name="searchBar" placeholder="search">
		<button>&#x2605;</button>
	</form>
	<a class="linkz newPostLink" href='/articles/new'>New post</a>
	<a class="linkz goback" href='/home'>View all posts</a>
	<a class="linkz one" href='/account'>My posts</a>
	<a class="linkz two" href='/logout'>Log out</a>
</div>


<h1>ALL POSTS</h1>
{{#each articles}}
	<div class="result_box">
		<h3>
			<a href="/articles/{{id}}">{{title}}</a>
		</h3>
	</div>
{{/each}}