//just two buttons for sign in / log in

<a href="/"><img class="logoBig" src="../img/star.png"/></a>

<a href="/signup" class="signupLink initLink"><font color="white">New User? </font>Sign up.</a>

<a href="/login" class="loginLink initLink"><font color="white">Already a user? </font>Sign in.</a>
