//just two buttons for sign in / log in

<a href="/"><img class="logoBig" src="../img/star.png"/></a>

<a href="/signup" class="signupLink initLink">New user? <font color=#FFC0CB>Sign up.</font></a>

<a href="/login" class="loginLink initLink">Already a user? <font color=#FFC0CB>Sign in.</font></a>